@media only screen and (max-width: 991px) {

    #findme, #others{
        width: 713px;
        margin-bottom: 200px;
        
    }

    #findme div img, #frontend div img, #others div img,#others div h4 {
        margin: auto;

    }

    #findme div p,#frontend div img{
        margin-bottom: 50px;
        font-size: 27px;
    }

}

@media only screen and (max-width: 767px) {

 #findme,#others{

    width: 534px;
 }




}

@media only screen and (max-width: 767px) {


#findme,
    #others {

        width: 334px;
    }

}

@media only screen and (max-width: 493px) {

    #btnproject{
background: url(/img/projects/Espenses\ manager.PNG); width: 300px; height: 200px}

xd

}

@media only screen and (max-width:546px){
 .initial-btn{
    font-size: 18px;
    width: 30%;
 }

 
    
}

@media only screen and (max-width:398px) {

    .initial-btn {
            font-size: 15px;
        }

}

@media only screen and (max-width:341px) {

    .initial-btn {
        font-size: 12px;
    }

}
